use guix
# fish -c "abbr -a hxt GOROOT=$(tinygo info pico|grep GOROOT|awk '{print $3}') hx"
export GOFLAGS=-tags=$(tinygo info pico|grep "build tags"|awk -F" {1,}" '{for(i=3;i<NF;i++) printf $i","; print $NF}')
# export GOPATH=/home/$(whoami)/go:$(tinygo info pico|grep GOROOT|awk '{print $3}')
export C_INCLUDE_PATH=
